#whatwedo
  .container
    .row
      h1#ibuild I build quality applications for
    .row
      .col-sm-4.col-md-4
        img.img-responsive.centercontents(src="/img/circle-cloud.png")
      .col-sm-4.col-md-4
        img.img-responsive.centercontents(src="/img/circle-cloud.png")
      .col-sm-4.col-md-4
        img.img-responsive.centercontents(src="/img/circle-cloud.png")
#other
  .arrow-down
  p sadfsaf